<!-- 弹出框 -->
<div class="hello_box" id="isHello">
    <div class="title">
        <p>哇子</p>
    </div>
    <hr class="middle_solid"/>
    <div class="content">
        <p>祝你万事胜意🎉🎉</p>
        <p>
            <i class="icon fas fa-arrow-circle-right"></i>
        </p>
    </div>
</div>
<script>
    let addBox,hideBox
    var helloBox = document.querySelector('#isHello');
    // 首页刷新
    window.addEventListener('load',()=> { 
        isHome()
    })
    document.addEventListener('pjax:send', () => { 
        clearTimeout(addBox)
        clearTimeout(hideBox)
     })
    document.addEventListener('pjax:complete',function(){
        isHome()
    })
    const isHome = function(){
        helloBox.classList.remove("ani_box")
        helloBox.classList.remove("hide_box")
        helloBox.style.display = 'none';
        if (window.location.pathname === '/') {
            addBox = setTimeout(() => {
                helloBox.style.display = 'block';
                helloBox.classList.add("ani_box")
            },500)
            hideBox = setTimeout(() => {
                // helloBox.classList.remove("ani_box")
                helloBox.classList.add("hide_box")
            },3500)
        }else{
            helloBox.style.display = 'none';
        }
    }
    



    
</script>
<style>
    @media screen and (max-width: 1300px) {
        .hello_box {
            display: none !important;
        }
    }
    .hello_box {
        min-width: 300px;
        z-index: 1;
        position: fixed;
        top: 65px;
        left: 50px;
        transition: 0.3s;
        transform-origin: left bottom;
        box-shadow: var(--heo-shadow-border);
        background-color: var(--heo-maskbgdeep);
        border-radius: 12px;
        border: var(--style-border);
        padding: 8px 16px;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
        
    }
    .ani_box {
        animation: barrageIn 0.6s cubic-bezier(0.42, 0, 0.3, 1.11);
    }
    .hide_box {
        opacity: 0;
        /* display: none; */
        animation: barrageOut 0.6s cubic-bezier(0.42, 0, 0.3, 1.11);
        z-index: -1;
    }
    .hello_box p {
        margin: 0;
        padding: 0;
    }
    .hello_box .middle_solid{
        margin: 0;
        padding: 0;
        border-top: var(--style-border);
        border-bottom: none;
    }
    .hello_box .title {
        font-size: 12px;
        font-weight: bold;
    }
    .hello_box .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }
    .hello_box .content .icon {
        margin-right: 5px;
        cursor: pointer;
    }
    .hello_box .content .icon:hover {
        color: var(--heo-theme);
    }

    @keyframes barrageIn{
        0% {
            transform: translateX(-50px);
            opacity: 0;
        }

        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    @keyframes barrageOut{
        0% {
            transform: translateX(0px);
            opacity: 1;
        }

        100% {
            transform: translateX(-50px);
            opacity: 0;
        }
    }

</style>