<div class="zhibo_all_box needEndHide" title="点击跳转直播间" id="isHide">
    <div class="zhibo_font">正在直播中</div>
    <div class="zhibo_img"></div>
</div>
<script>
    // 获取元素
    var element = document.getElementById('isHide');
    // 绑定点击事件
    element.addEventListener('click',function() {
        window.open('https://live.bilibili.com/30298443');
    })
    let isZhibo = function() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/api/live/room?room_id=30298443', true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                // console.log(response);
                if(response.data.live_status === 1){
                    element.style.display = 'flex';
                }else{
                    element.style.display = 'none';
                }
            }else {
                // var response = JSON.parse(xhr.responseText);
                // console.log(response);
                element.style.display = 'none';
            }
        };
        xhr.send();
    }
    window.addEventListener("load",function(){
        isZhibo();
        // // 设置每隔一分钟执行一次 sendRequest 函数
        setInterval(isZhibo, 60000);
    });
</script>
<style>
    @media screen and (max-width: 1300px) {
        .zhibo_all_box {
            display: none !important;
        }
    }
    .zhibo_all_box {
        display: none;
        align-items: center;
        z-index: 1001;
        position: fixed;
        bottom: 100px;
        left: 50px;
        cursor: pointer;
        transition: 0.3s;
        transform-origin: left bottom;
        box-shadow: var(--heo-shadow-border);
        background-color: transparent;
    }
    .zhibo_all_box .zhibo_font {
        color: var(--heo-white);
        background: var(--heo-main);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 50%;
        opacity: 0;
        font-size: 12px;
        transition: 0s;
        z-index: 2;
        pointer-events: none;
        transition: 0.3s;
    }
    .zhibo_all_box:hover .zhibo_font {
        opacity: 1;
    }
    .zhibo_all_box .zhibo_img {
        width: 70px;
        height: 70px;
        background: url("https://miaowa-blog.oss-cn-chengdu.aliyuncs.com/blog/202307060036148.png") no-repeat center / cover;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgb(255, 0, 0);
        animation: ripple 2s infinite;
        border: 1px solid red;
    }
    @keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
        }
        100% {
            box-shadow: 0 0 0 40px rgba(255, 0, 0, 0);
        }
    }
</style>